@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300&display=swap');

body{
    margin: 0;
    font-family: 'Karla', sans-serif;
}

.main {
    height:100vh;
    width:100vw;
}


.bg {
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.startpage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.startpage > h1 {
    font-weight: 700;
    font-size: 8vw;
    text-align: center;
    color: #293264;
    margin-top:0;
}

.startpage > button {
    font-weight: 700;
    font-size: 2.7vw;
    text-align: center;
    color: white;
    background: #4D5B9E;
    border-radius: 15px;
    padding: 1vw 2vw 1vw 2vw;
}

.quizpage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.question {
    padding: 0px 0px 1vw 0px;
    width: 80vw;
    border-bottom: 0.794239px solid #DBDEF0;
}

.question > h1 {
    font-size: 1.75vw;
    color: #293264;
}

.answerdiv { 
    display: flex;
    justify-content: flex-start;

}

.answer {
    font-size:1vw;
    font-family: 'Inter', 'Karla', sans-serif;;
    margin-right: 1vw;
    padding: .3vw 1vw .3vw 1vw;
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid #4D5B9E;
    white-space: nowrap;
} 

input[type='radio'] {
    appearance:none;

}

label.selected {
    background-color: #D6DBF5;
    border: none
}

.finishedselected {
    background-color: #F8BCBC;
    border: none;
}

.finishedcorrect {
    background-color: #94D7A2;
    border: none;
}

.buttondiv {
    display:flex;
    justify-content: center;
    align-items: center;

}

.buttondiv > p {
    font-size: 1.7vw;
    font-weight:bold;
    color: #293264;
    margin-right: 3vw;
}

.submit {
    margin-top: 10px;
    color: #F5F7FB;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 1vw;
    padding: 0.5vw;
    width: 8vw;
    height: 3w;
    background: #4D5B9E;
    border-radius: 10px;
    text-align: center;
    text-overflow: none;
}